body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background: #0B0B0C;
  color: #E6E6E6;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  scroll-behavior: smooth;
  /* overflow: hidden; */
}

/* --- ПАРТИКЛЫ ФОНА --- */

#particles {
  position: fixed;
  inset: 0;
  z-index: -1;
  background: radial-gradient(circle at 50% 50%, rgba(255,230,180,0.08), transparent 70%);
}

/* --- ОБЩИЕ ЭКРАНЫ --- */
.screen {

  /* position: absolute; */
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 38px;
  text-align: center;
  opacity: 0;
  transition: opacity 1.2s ease;
  display: none;
}

.screen.active { opacity: 1;display: flex; }
.screen.open{ position: absolute;}

/* --- ТЕКСТОВЫЙ БЛОК --- */
.textbox {
  max-width: 720px;
  line-height: 1.72;
  font-size: 20px;
  white-space: pre-line;
  font-family: "Forum", serif;
  text-shadow: 0 0 8px rgba(212,162,89,0.35);
  text-align: left;
}

/* --- КНОПКИ --- */
button {
  background: rgba(212,162,89,0.08);
  border: 1px solid rgba(212,162,89,0.45);
  padding: 14px 32px;
  font-size: 19px;
  color: #D4A259;
  cursor: pointer;
  border-radius: 8px;
  transition: 0.25s;
  text-shadow: 0 0 6px rgba(212,162,89,0.4);
}
button:hover {
  background: rgba(212,162,89,0.18);
  transform: scale(1.03);
}

/* --- MUTE BUTTON --- */
.mute {
  position: fixed;
  top: 22px;
  right: 26px;
  cursor: pointer;
  font-size: 14px;
  padding: 6px 12px;
  border: 1px solid rgba(212,162,89,0.35);
  border-radius: 6px;
  color: #D4A259;
  z-index: 10;
}

#s2{
    padding-bottom: 30%;
}